
.subscribe
{
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}
input[type=Email] 
{
	width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#extra
{
	overflow: hidden;
	margin: 0em auto 0em auto;
	padding: 6em 0em 6em 0em;
	text-align: center;
}
#extra h3
{
	margin: 0em;
	padding: 0em;
	font-weight: 400;
	font-size: 1.4em;
	color: #555555;
}
#con{
	background-color:#FDF5E6;
	padding:10px;
	margin-bottom:15px;
}
#extra h2
{
	margin: 0em;
	padding: 0em;
	font-weight: 400;
	font-size: 2.1em;
	color: #555555;
}
.button:hover{
	background-color:#0099CC;
	color:black;
}
.button
{
	display: inline-block;
	padding: 1.3em 3em;
	background: #1B9772;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #FFF;
}
h1{
	font-weight: 700;
	font-size: 46px;
}

h2{
	text-transform: uppercase;
	font-size: 20px;
}
h3{
	font-size: 14px;
	font-style: italic;
	font-weight: 100;
	line-height: 26px;
}

h4{
	text-transform: uppercase;
	font-size: 16px;
	word-spacing: 2px;
}
h5{
	text-transform: uppercase;
	font-size: 12px;
	word-spacing: 2px;
}
h6{
	text-transform: uppercase;
	font-size: 10px;
	word-spacing: 2px;
	letter-spacing: 2px;
}

p{
	font-weight: 400;
}
.border{
	border-radius:50%;
	border-color:#c59a6d;
	border-width: 15px;
	
}
hr{
	border-width: 5px;
	border-radius:8px;
	width: 250px;
	border-color: #c59a6d;
}
.team hr{
	width: 150px;
	border-color: #c59a6d;
}
a {color: #222222}
a:hover,
a:focus{
	color: #c59a6d;
	text-decoration: none;
	
}
.section-title{ 
	text-transform: uppercase;
	padding:30px;
	word-spacing: 2px;
	letter-spacing: 2px;
	
}
.space{padding:15px;}
.team:hover {
	border: 10px solid #c3c3c3;
	
}
.team.hire>a{
	color: #c59a6d;
}
.team hr{
	border-width: 2px;
	border-color: #dcc2a7;
}
.team{ 
	padding: 70px 20px;
	background-color:white;
	text-align: center;
	opacity: 0.9;
	transition: all 0.8s;
	max-height: 420px;
	margin-bottom: 30px;
	opacity: 1;
	border: 1px solid #222;
    box-shadow:1px 5px 10px black;
}
.team img {
	width: 120px;
	margin: 0 auto;
}
